# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Jupyter Notebooks
.ipynb_checkpoints

# Generated outputs & logs
*.png
prep-realtor-data_price.csv
outputs/

# VS Code & IDEs
.vscode/
.idea/
*.swp
